 # Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
env/
qt-env/

# IDE configurations
.idea/
.vscode/
*.swp

# Logs and databases
*.log
*.sqlite3

# Python packaging
*.egg-info/
dist/
build/

# System files
.DS_Store
Thumbs.db

# Data files
.pkl
.npy
/Classification/MovementPrediction/X_all.npy
/Classification/MovementPrediction/y_all.npy
/Classification/MovementPrediction/raw_X_all.pkl
/Classification/MovementPrediction/raw_y_all.pkl